body{
    background-image: url("../images/star-trek.jpg");
    font-family: 'Orbitron', sans-serif;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container{
    /* background-color: black; */
    padding-bottom: 25px;
    margin: auto;
    text-align: center;
}

.container2{
    background-color: black;
}

p{
    color: skyblue;
    text-align: center;
    margin-top: 25px;
}

h1{
    color: white;
    text-align: center;
    margin-top: 220px;
}

h2{
    color: white;
    padding: 10px;
    font-size: 26px;
}

h3{
    color: skyblue;
    padding: 10px;
    padding-top: 15px;
    font-size: 26px;
}

.btn{
width: 40%;
margin-left: 30%;
margin-right: 30%;
}

#done{
    width: 40%;
    padding: 10px;
    margin-left: 30%;
    margin-right: 30%;
}

#quiz{
color: white;
font-size: 18px;
}
